In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

## mlxtend的使用

In [7]:
# 构建数据
data={'ID':[1,2,3,4,5,6],
'Onion':[1,0,0,1,1,1],
'Potato':[1,1,0,1,1,1],
'Burger':[1,1,0,0,1,1],
'Milk':[0,1,1,1,0,1],
'Beer':[0,0,1,0,1,0]}

data = pd.DataFrame(data)
data_use = data[["Onion","Potato","Burger","Milk","Beer"]]

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [10]:
fren_items = apriori(data_use, min_support=0.5, use_colnames=True)

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
e:\app\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [13]:
association_rules(fren_items,metric="lift", min_threshold=1.2)

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Onion),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
1,(Potato),(Onion),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667
2,(Burger),(Potato),0.666667,0.833333,0.666667,1.0,1.2,0.111111,inf
3,(Potato),(Burger),0.833333,0.666667,0.666667,0.8,1.2,0.111111,1.666667
4,"(Burger, Onion)",(Potato),0.500000,0.833333,0.500000,1.0,1.2,0.083333,inf
5,(Potato),"(Burger, Onion)",0.833333,0.500000,0.500000,0.6,1.2,0.083333,1.250000

## One-hot 编码

In [47]:
data = [[1,3,4],
[2,3,5],
[1,2,3,5],
[2,5]]

# 将number转换成str
for index,row in enumerate(data):
    data[index] = list(map(str,row))
    
data = pd.DataFrame({"index":range(1,len(data)+1),"data_":data})

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [48]:
# list -> str
index = data.drop("index",1) # return copy
data.data_ = data.data_.str.join(",")
data

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   index    data_
0      1    1,3,4
1      2    2,3,5
2      3  1,2,3,5
3      4      2,5

In [49]:
data = data.data_.str.get_dummies(",")
data

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   1  2  3  4  5
0  1  0  1  1  0
1  0  1  1  0  1
2  1  1  1  0  1
3  0  1  0  0  1

In [50]:
fren_items = apriori(data, min_support=0.5, use_colnames=True)
fren_items

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
e:\app\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

   support   itemsets
0     0.50        (1)
1     0.75        (2)
2     0.75        (3)
3     0.75        (5)
4     0.50     (3, 1)
5     0.50     (2, 3)
6     0.75     (2, 5)
7     0.50     (3, 5)
8     0.50  (2, 3, 5)

In [52]:
association_rules(fren_items, metric="lift", min_threshold=1)

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(3),(1),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
1,(1),(3),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
2,(2),(5),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(5),(2),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
4,"(2, 3)",(5),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
5,"(3, 5)",(2),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
6,(2),"(3, 5)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5
7,(5),"(2, 3)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.5

## 电影题材实战

In [55]:
data = pd.read_csv("datasets/ml-latest-small/movies.csv")
data

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [64]:
pd.options.display.max_columns = 20
data_use = data.drop(["movieId","title"],1).genres.str.get_dummies()
data_use

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,0,1,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9738,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0
9739,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
9740,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9741,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [87]:
fren_items = apriori(data_use, use_colnames=True, min_support=0.08)
fren_items

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
e:\app\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support           itemsets
0   0.187641           (Action)
1   0.129645        (Adventure)
2   0.385547           (Comedy)
3   0.123075            (Crime)
4   0.447649            (Drama)
5   0.100390           (Horror)
6   0.163827          (Romance)
7   0.100595           (Sci-Fi)
8   0.194416         (Thriller)
9   0.103983    (Drama, Comedy)
10  0.090741  (Comedy, Romance)
11  0.095874   (Drama, Romance)
12  0.085403  (Drama, Thriller)

In [89]:
association_rules(fren_items, metric="lift", min_threshold=1)

e:\app\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Comedy),(Romance),0.385547,0.163827,0.090741,0.235357,1.436620,0.027578,1.093547
1,(Romance),(Comedy),0.163827,0.385547,0.090741,0.553885,1.436620,0.027578,1.377341
2,(Drama),(Romance),0.447649,0.163827,0.095874,0.214171,1.307302,0.022537,1.064065
3,(Romance),(Drama),0.163827,0.447649,0.095874,0.585213,1.307302,0.022537,1.331649